.toggle-item {
    list-style: none;
    margin-bottom: 10px;
}

.toggle-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    color: white;
    border-radius: 10px;
    background-color: #ddd5ff;
    box-shadow: 7px 7px 13px #b197fc, -7px -7px 12px #f5f3ff;
    transition: height 0.3s ease, padding 0.3s ease; /* Smooth transition for height and padding */
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.expanded-content {
    height: inherit;
    width: inherit;
    padding: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
}

.badge {
    background-color: #00000055;
    padding: 2px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
}

.description {
    box-shadow: 0px 0px 10px 5px #00000088;
    width: 100%;
    padding: 10px;
    background-color: #00000099;
    backdrop-filter: blur(5px);
    border-radius: 5px;
}

.card-footer {
    color: #ffffff88;
    margin-top: 5px;
    font-size: 8px;
}

.collapsed {
    height: 50px;
    padding: 10px;
}

.expanded {
    height: 254px;
    padding: 20px;
}