@using Blazorise
@using Icon = Blazorise.Icons.FontAwesome
<div class="nav-container">
    <div class="button-container">
        <NavLink class="button">
            <i class="bi bi-calendar3 fs-4" style="color:#6c757d;"></i>
        </NavLink>
        <NavLink class="button" href="/">
            <i class="bi bi-plus-square fs-4" style="color:#6c757d;"></i>
        </NavLink>
        <NavLink href="/recipes" class="button">
            <i class="bi bi-journal-bookmark-fill fs-4" style="color:#6c757d;"></i>
        </NavLink>
    </div>
</div>
